.website-list.grid-mode {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;

    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.website-item.grid-mode {
    width: 36px;
    height: 36px;
    padding: 4px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* LIST MODE WEBSITE ITEM */
/* FULL WIDTH MODE */
.group-box.list-mode {
    width: 100% !important;
}

.website-list.list-mode {
    display: flex;
    flex-direction: column;   /* QUAN TRỌNG */
    gap: 4px;                 /* cách từng dòng */
    padding: 8px 4px;
}

.website-item.list-mode {
    width: 100%;                        /* full chiều ngang */
    height: auto;                       /* không khóa chiều cao */
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
}

/* Add bottom space for last item */
.group-box.list-mode:last-child {
    margin-bottom: 30px;
}

.list-icon {
    width: 20px !important;
    height: 20px !important;
    flex-shrink: 0;
}

.list-url-text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.website-item:hover {
    background: #f0f0f0;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.website-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.website-item.highlight {
    outline: 1px solid #ff9800;
    background: rgba(255, 152, 0, 0.15);
    transition: background 0.2s;
}

.website-list.delete-mode .website-item {
    opacity: 0.5;
}

.website-list.delete-mode .website-item.selected {
    border: 1px solid red;
    opacity: 1;
}


.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.actions .btn {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 4px 6px;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
}

.actions .btn:hover {
    background: #f1f3f6;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.delete-mode .website-item {
    opacity: .3;
}

.btn.delete-mode{
    background: red;
    color: white;
}

.website-item.selected {
    opacity: 1 !important;
}

.btn {
    border: none;
    cursor: pointer;
}

.toggle-btn {
    border: none;
    background: transparent;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
}


#group-action-modal .modal-buttons, #website-action-modal .modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#website-action-modal.hidden {
    display: none;
}
