.tab-list.grid-mode {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;

    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tab-item.grid-mode {
    width: 36px;
    height: 36px;
    padding: 4px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.tab-list.list-mode {
    display: flex;
    flex-direction: column;
    /* QUAN TRỌNG */
    gap: 4px;
    /* cách từng dòng */
    padding: 8px 4px;
}

.tab-item.list-mode {
    width: 100%;
    /* full chiều ngang */
    height: auto;
    /* không khóa chiều cao */
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.tab-item:hover {
    background: #f0f0f0;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.tab-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tab-item.highlight {
    outline: 1px solid #ff9800;
    background: rgba(255, 152, 0, 0.15);
    transition: background 0.2s;
}

.tab-list.delete-mode .tab-item {
    opacity: 0.5;
}

.tab-list.delete-mode .tab-item.selected {
    border: 1px solid red;
    opacity: 1;
}

.color-list {
    display: flex;
    gap: 8px;
    margin: 8px 0 16px;
    flex-wrap: wrap;
}

.color-list span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.color-list span.selected {
    border-color: #000;
}

.color-list [data-color="grey"] { background: #808080; }
.color-list [data-color="blue"] { background: #4285f4; }
.color-list [data-color="red"] { background: #db4437; }
.color-list [data-color="yellow"] { background: #f4b400; }
.color-list [data-color="green"] { background: #0f9d58; }
.color-list [data-color="pink"] { background: #ff80ab; }
.color-list [data-color="purple"] { background: #ab47bc; }
.color-list [data-color="cyan"] { background: #00acc1; }